* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.m-auto {
    margin: auto;
}
/* Corpo Pagina */
body {
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(to left top, #00ff5d, #00f8ad, #00ebe6, #00daff, #00c5ff, #38b8fe, #59aaf9, #759bef, #6a90f4, #6385f7, #5f79fa, #5f6cfb);
}
/* Header */
header {
    padding: 10px 0 20px;
    width: 60%;
}
h1 {
    margin: 20px 0;
}
/* Container cards */
#container-cards {
    width: 60%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.card {
    width: calc(100% / 3 - 70px);
    height: calc(50% - 15px);
    border-radius: 10px;
    background-color: #ffffffc9;
    box-shadow: 3px 3px 7px #000;
}
img {
    width: 100%;
    height: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: fill;
}
h2 {
    font-size: 1.2rem;
    line-height: 40px;
}
p {
    font-size: 1rem;
}